//Variables
//Colors
$menu-red: #fb5255;
$our-team-gray: #989898;

//Fonts
$fontArial: Arial;
$fontTahoma: Tahoma, Verdana, Segoe, sans-serif;
$fontCalibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;


//GLOBAL SETTINGS


//NAV SETTINGS 

.navbar {
    z-index: 1;
    position: absolute;
    width: 100%;

    font-family: $fontArial;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0.81+0,0.21+50,0.08+81,0.24+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.8) 1%, rgba(0,0,0,0.21) 50%, rgba(0,0,0,0.08) 81%, rgba(0,0,0,0.24) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.21) 50%,rgba(0,0,0,0.08) 81%,rgba(0,0,0,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,0,0,0.81) 0%,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.21) 50%,rgba(0,0,0,0.08) 81%,rgba(0,0,0,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf000000', endColorstr='#3d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: none;
 
    .navbar-nav.mr-auto {
        font-size: 13pt;
        letter-spacing: -1px;
        a {
            margin-left: 5px;
            margin-right: 5px;
            color: #fefefe;
        }
    }
    .navbar-nav.ml-auto {
        a {
            font-size: 13px;
            margin-right: 10px;
        }
        img {
            height:14px;
            margin-right: 3px;
        }
    }
}

@media (min-width: 992px) { 
    .navbar {
        height: 57px;
    }
}

//-------FIRST SECTION ----------

#first-section {
    background-image: url(../img/downloaded/first-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    color: white;
    >div {
        padding-top: 280px;
        padding-bottom: 180px;
    }
    h1 {
        font-size: 66pt;
        font-weight: 400;
        margin-bottom: 7px;
        line-height: 55px;
        span {
            color: #f7cd78
        }
    }
    h3 {
        margin-bottom: 24px;
        font-size: 30pt;
    }
    .btn {
        border: 1px solid white;
        color: white!important;
        background-color: rgba(255,255,255,0.3);
        height: 40pt!important;
        width: 120pt!important;
        font-size: 13pt;
    }
}
//END FIRST SECTION
@media (max-width: 450px) {
    #first-section  {
        h1 {
            font-size: 56pt;
        }
        .flex-row {
            text-align: center;
        }
    }
}


//-------SECOND SECTION ------
#second-section {
    >div {
        position: relative;
        top: -80px;
    }
    img {
        border: 4px solid white;
    }
    ul li.list-inline-item {
        &:nth-child(1) {
            background: rgba(226, 108, 87, 0.7);
        }
        background-color: #c4c4c4;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        position: relative;
        left: 40px;
        top: 15px;
    }
    h3 {
        font-size: 30px;
        color: #fefefe;
        font-family: $fontCalibri;
        margin-top: 25px;
        font-weight: 500;
    }
    p { 
        margin-top: 30px;
        font-size: 15px;
        color: #555555;
        font-family: $fontTahoma;
        &:last-of-type {
            margin-top: 10px;
        }
    }
    .col-md-8 {
        padding-left: 35px;
        hr {
            margin-top: 40px;
            border-color: #555555!important;
        }
    }
    #icons-row {
        position: relative;
        top: -30px;
        h4, p {
            font-weight: 500;
            color: #555555;
            font-family: $fontArial;
        }
    }
}
//END SECOND SECTION

@media (min-width: 768px) { 
    #second-section {
        h3 {
            color:  white;
        }
    }
}


@media (max-width: 767px) {
    #second-section {
        ul li.list-inline-item {
            position: initial;
            margin-top: 20px;
        }
        h3 {
            color: #555555;
            text-transform: uppercase;
        }
    }
}

//-----------THIRD SECTION ---------
#third-section {
    background-image: url(../img/downloaded/third-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    h3 {
        font-size: 50pt;
        color: white;
        font-family: $fontArial;
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    }
    h4 {
        font-size: 30pt;
        color: white;
        font-family: $fontArial;
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    }
    p {
        font-size: 18pt;
        line-height: 24pt;
        color: white;
    }
    .btn {
        border: 1px solid white;
        color: white!important;
        background-color: rgba(255,255,255,0.3);
        height: 40pt!important;
        width: 120pt!important;
        font-size: 13pt;
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.34);
        -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.34);
        box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.34);
    }
}

//END THIRD SECTION

@media (max-width: 768px) { 
    #third-section {
        p {
            margin-top: 20px;
            text-align: center;
        }
        .col-md-4 {
            text-align: center;
        }
    }
}

//-------- FOURTH SECTION ---------
#fourth-section {
    background-image: url(../img/downloaded/fourth-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    h3 {
        font-size: 48pt;
    }
    p {
        font-size: 13pt;
        font-family: $fontTahoma;
    }
    .list-inline-item img {
        height: 33px;
        width: 33px;
    }

    form {
        input, textarea {
            background-color: #626262;
            height: 31px;
            margin-top: 7px;
            border: none;
            padding-left: 8px;
        }
        input {
            height: 31px;
        }
        textarea {
            height: 93px;
            width: 102%;
        }
        input[type="submit"] {
            border:1px solid #dadada;
            color: #dadada;
            width: 100px;
            height: 35px;
            margin-top: 30px;
        }
        ::-webkit-input-placeholder { 
            color: #dadada;
          }
          ::-moz-placeholder { 
            color: #dadada;
          }
          :-ms-input-placeholder { 
            color: #dadada;
          }
          :-moz-placeholder { 
            color: #dadada;
          }
    }
}

// END FOURTH SECTION

//FOOTER

#footer-section {
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
    margin-top:65px!important;
    h1 {
        font-size: 23pt;
        font-weight: 400;
        margin-bottom: 15px;
        line-height: 23px;
        span {
            color: #f7cd78
        }
    }
    h5 {
        text-align: center;
        color: white;
        font-size:14px;
        font-family: $fontArial;
        a {
            text-decoration: underline;
            color: white;
            font-size:14px;
            font-family: $fontArial;
            img {
                max-height: 25px;
                margin-left: 6px;
            }
        }
    }
}


